{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

<section class="news1 m-auto">
    <div class="news-main1 m-auto">
        <a href="{% url 'main_page_link' %}" class="to_main_page">{% trans 'main_page' %}</a>
        <h1>{% trans 'exhib_list' %}</h1>
    </div>
</section>

<section class="blocks " style="background: none!important;">


    {% if exhibitions %}
    {% for exhibition in exhibitions %}
    <div class="b3 m-auto">
        <div class="adv ">
            <div class="container">
                <div class="row">

                    <!-- /.col-lg-2 -->
                    <div class="col-lg-2 col-sm-5 align-middle">
                        <img src="{% if exhibition.main_image %}{{exhibition.main_image.url}}{% endif %}" alt=""
                            style="width: 100%;" class="align-middle">
                    </div>
                    <div class="col-lg-5 col-sm-7  s2">
                        {#                                    {% url 'foreign_ex_detail_page_link' exhibition.pk %}#}
                        <a href="#" style="cursor: auto;">
                            <h3>
                                {% if LANGUAGE_CODE == 'ru' %}
                                {{ exhibition.name_ru }}
                                {% elif LANGUAGE_CODE == 'en' %}
                                {{ exhibition.name_en }}
                                {% elif LANGUAGE_CODE == 'tk' %}
                                {{ exhibition.name_tk }}
                                {% endif %}
                            </h3>
                            {% if new.virtual == True %}
                            <button type="button" class="btn btn-primary butt">{% trans 'wirtual' %}</button>
                            {% endif %}
                        </a>
                        <p class="p1">
                            {% if LANGUAGE_CODE == 'ru' %}
                            {{ exhibition.desc_ru|truncatechars:150|safe  }}
                            {% elif LANGUAGE_CODE == 'en' %}
                            {{ exhibition.desc_en|truncatechars:150|safe  }}
                            {% elif LANGUAGE_CODE == 'tk' %}
                            {{ exhibition.desc_tk|truncatechars:150|safe  }}
                            {% endif %}
                        </p>

                        {#                                        <p class="p2">{% trans 'installer' %}</p>#}
                        {##}
                        {#                                        <p class="p3">#}
                        {#                                             {% if LANGUAGE_CODE == 'ru' %}#}
                        {#                                                {{ exhibition.installer_ru }}#}
                        {#                                            {% elif LANGUAGE_CODE == 'en' %}#}
                        {#                                                {{ exhibition.installer_en }}#}
                        {#                                            {% elif LANGUAGE_CODE == 'tk' %}#}
                        {#                                                {{ exhibition.installer_tk }}#}
                        {#                                            {% endif %}#}
                        {#                                        </p>#}
                    </div>
                    <!-- /.col-lg-6 -->

                    <div class="col-lg-3 offset-lg-2 col-sm-3 s3">
                        <a href="#" style="cursor: auto;">
                            <h5>
                                {{ exhibition.from_date|date:"d.m.Y" }} - {{ exhibition.to_date|date:"d.m.Y"}}
                            </h5>

                            <!-- <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Kalendara bellemek</p> -->
                        </a>
                    </div>
                    <!-- /.col-lg-1 -->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if page_obj %}
    {% include 'inc/pagination.html' with page=page_obj %}
    {% endif %}


    <!-- /.adv  /.banner -->

</section>



{% endblock content %}