{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

    <section class="news1 m-auto">
        <div class="news-main1 m-auto">
            <a href="{% url 'main_page_link' %}" class="to_main_page">{% trans 'main_page' %}</a>
            <h1>{% trans 'tender_list' %}</h1>
        </div>
    </section>

    <section class="blocks " style="background: none!important;">


        {% if tenders %}
            {% for tender in tenders %}
                <div class="b3 m-auto">
                    <div class="adv ">
                        <div class="container">
                            <div class="row">
{#                                <div class="col-lg-2 col-sm-2 s1 ">#}
{#                                    <img src="{{ tender.main_image.url }}" alt="">#}
{#                                </div>#}
                                <!-- /.col-lg-2 -->
                                <div class="col-lg-5 col-sm-7  s2">
                                    <h3>
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            {{ tender.name_ru }}
                                        {% elif LANGUAGE_CODE == 'en' %}
                                            {{ tender.name_en }}
                                        {% elif LANGUAGE_CODE == 'tk' %}
                                            {{ tender.name_tk }}
                                        {% endif %}
                                    </h3>
                                    <p class="p1">
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            {{ tender.desc_ru|safe }}
                                        {% elif LANGUAGE_CODE == 'en' %}
                                            {{ tender.desc_en|safe }}
                                        {% elif LANGUAGE_CODE == 'tk' %}
                                            {{ tender.desc_tk|safe }}
                                        {% endif %}
                                    </p>

                                    <p class="p2">{% trans 'installer' %}</p>

                                    <p class="p3">
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            {{ tender.organizers_ru|safe }}
                                        {% elif LANGUAGE_CODE == 'en' %}
                                            {{ tender.organizers_en|safe }}
                                        {% elif LANGUAGE_CODE == 'tk' %}
                                            {{ tender.organizers_tл|safe }}
                                        {% endif %}
                                    </p>
                                </div>
                                <!-- /.col-lg-6 -->

                                <div class="col-lg-3 offset-lg-2 col-sm-3 s3">
                                    <a href="#" style="cursor:auto;">
                                        <h5>{{ tender.date|date:"d.m.Y" }}</h5>

                                        <!-- <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Kalendara bellemek</p> -->
                                    </a>
                                </div>
                                <!-- /.col-lg-1 -->


                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        <!-- /.adv  /.banner -->

    </section>

{% endblock content %}