<div id="paginations" style="width: 15%; margin: 0 auto;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Yza">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Yza</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} </a></li>
                {% comment %} <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>